
#tutorial_ad_step1 {
	position:absolute; 
	top:45px; 
	left:250px; 
	z-index: 5000;
}

.tutorial_step {
	height: 50px;
	width: 300px;
}

.tutorial_step .tutorial_step_marker {
	margin-left: -50px;
	float: left;
	text-align:  center;
}

.tutorial_step .tutorial_step_marker .text {
	display: inline;
	vertical-align: middle;
	line-height: 50px;
	font-size: 30px;
	color: #fdfdfd;
	font-family: Trebuchet, Sans-serif;
}

.tutorial_step .tutorial_step_content{
	height: 49px;
	background: #f4f4f4 url('../../images/tutorial/tut_box_border.png') repeat-x bottom left;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}


.tutorial_step p {
	margin-left: 50px;
	color: #3d3d3d;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
}


.arrow_l .tutorial_step_marker {
	background: url('../../images/tutorial/left_tut_box.png') no-repeat 0px 0px;
	width: 60px;
	height: 50px;
}
.arrow_l  .tutorial_step .tutorial_step_marker .text {
	margin-left: 10px;
}

.arrow_b .tutorial_step_marker {
	background: url('../../images/tutorial/down_tut_box.png') no-repeat 0px 0px;
	width: 50px;
	height: 63px;
}
.arrow_b  .tutorial_step .tutorial_step_marker .text {
	margin-left: 0px;
}

.arrow_u .tutorial_step_marker {
	background: url('../../images/tutorial/up_tut_box.png') no-repeat 0px 0px;
	width: 50px;
	height: 63px;
	margin-top:-13px;
}
.arrow_u .tutorial_step_marker .text {
	margin-left: 0px;
	margin-top: 13px;
	line-height: 70px !important;
}
