Hi,

I have finished collecting data so i want to claim my incentive.

Here is my data:

User Name: #{@content[:user]}
User Id: #{@content[:id]}
User Name: #{@content[:email]}
Household: #{@content[:household_id]}
SurveyID: #{@content[:surveyid]}
\# days with data: #{@content[:no_stops]}
\# days validated: #{@content[:no_stops_validated]}
Name: #{@content[:user_confirmed_data][:name]}
Address: #{@content[:user_confirmed_data][:address]}
