%p
  An error ocurred while processing the data for the user #{@content[:user]}
%p Please check the error and remove the lock from the database, either using the backoffice or the database access itself
%p
  Internal email
