.time_zone_globe
.time_zone_panel
  .arrow-up
  %h2 Your time zone
  = form_tag(change_timezone_user_session_path, method: :post) do
    .form-group
      = time_zone_select( "user", "time_zone" , ActiveSupport::TimeZone.all, :default => session[:time_zone])
    .form-group
      = hidden_field_tag 'goto', "#{request.url}"
    %hr/
    Click anywhere outside this area to dismiss
:javascript
  jQuery("#user_time_zone").change(function(){
  		if (jQuery(".form-group input[name=goto]").val() != "#{request.url}") {
  			jQuery(".form-group input[name=goto]").val("/report/"+smart.Diary._selectedDay);
  		};
  		//submit timezone change
  		jQuery("#user_time_zone").closest("form").submit();
  		$(".time_zone_panel").animate({'visibility':'hidden', 'opacity': 0, 'z-index': 0}, 500);
  	});
  
  	$(".time_zone_globe").hover(function(e){
  		$(".time_zone_panel").css({'visibility':'visible', 'opacity': 1, 'z-index': 1000});
  	});
  
  	$(document).click(function (e) {
      e.stopPropagation();
      if ($(".time_zone_panel").has(e.target).length === 0) {
       	$(".time_zone_panel").animate({'visibility':'hidden', 'opacity': 0, 'z-index': 0}, 500);
      }
  	});
