.row.col-md-12.col-md-offset-1
  #faqs_menu.col-md-3
    %ul
      %li
        %a#cat1.current{:href => "#"} Survey
      %li
        %a#cat2{:href => "#"} Activity Diary
      %li
        %a#cat3{:href => "#"} Mobile Application
      / <li> <a href="#" id="cat4"> Instructions </a> </li>
  #cat1_content.col-md-9.faq_content
    .col-md-3
      %p.title_1 1. What is the survey all about?
      %p.content_1= I18n.t('newuser.answer1')
      = image_tag("smart/faqs.png", :alt =>"faqs" )
    .col-md-3
      %p.title_1 2. How does it work?
      %p.content_1
        Our smartphone application uses GPS, GSM, Wi-Fi and accelerometer technologies to collect your location data over the course of the day. This data
        %br>/
        is periodically uploaded, processed, and made available online for you to review and add to in the Activity Diary once you have registered with the survey.
    .col-md-3
      %p.title_1 3. Why do you need so much information?
      %p.content_1 London’s transportation network is one of the largest and most complex in the world. In order to develop it and bring new solutions to ease you travel in and around the city researchers and policy makers need information about the way you travel and your preferences for new mobility solutions.
    .clear
    .col-md-9
      .stripes
    .clear
    .col-md-3
      %p.title_1 4. What will the results be used for?
      %p.content_1
        The data and the models developed
        %br>/
        with them will be used to help make better transportation decisions, including where best to invest in projects
        %br>/
        to improve the efficiency and reliability
        %br>/
        of the daily travels of Londoners.
    .col-md-3
      %p.title_1 5. Who is conducting this survey and for how long?
      %p.content_1
        The
        %span.class1
          %a{:href => "http://www.bartlett.ucl.ac.uk/energy/research/themes/transport/urban-long-distance-transport"} Urban Transport and Energy Team
        and University College London (UCL) are conducting the survey. We kindly ask participants to use the app for one week. There will be a pre-questionnaire on the first day and a survey about new mobility solutions on the 8th day.
      %p  
    .col-md-3
      %p.title_1 6. Will you keep my data confidential?
      %p.content_1
        Confidentiality is critical to the success of our survey. We want you to feel secure in providing candid responses to our questions and in providing us with 	your travel information. All information will be held in strict confidence. For more information, please see our Privacy Policy
        = succeed "." do
          %span.class1= link_to "here", "/docs/UCL_MaaS_Privacy_Final.pdf"
    .clear
    .col-md-9
      .stripes
    .clear
    .col-md-3
      %p.title_1 7. What about my phone's battery?
      %p.content_1
        It is possible that use of this app on top of your normal phone use will drain the battery faster than the rate to which you are accustomed.
        = succeed "You" do
          %br/
    .col-md-3
      %p.title_1 8. Where's my profile information? How can I change it?
      %p.content_1
        You may access and change your profile information (including name, password) by clicking on your name at the top of the page. For any other changes please contact our
        = succeed "." do
          %span.class1= link_to "support team", :controller => "pages", :action => :contacts
    .col-md-3
      %p.title_1 9. Who should I contact if I have questions about the survey and my rights as a participant?
      %p.content_1
        Please contact our staff at
        = succeed "." do
          %b= mail_to "bartlett.maaslab@ucl.ac.uk"
        / If you feel uncomfortable with contacting a person involved in the study, please contact the <span class="class1"><a href="http://web.mit.edu/">MIT’s</a></span> Committee on the Use of Humans as Experimental 	Subjects at <b>jadams@mit.edu</b>.
  #cat2_content.col-md-9.faq_content{:style => "display:none"}
    .col-md-3
      %p.title_1 1. What if my activity icon is in the wrong location?
      %p.content_1 Your activity location may be slightly off due to the aggregation of data points. In these cases, you may move the icon by clicking on it with your mouse and dragging it to the proper location.
    .col-md-3
      %p.title_1 2. What is the difference between a non-travel activity and a travel activity?
      %p.content_1 A travel activity is when you used a mode of transportation to move between two locations. This mode can include walking or biking in addition to motorized forms of transportation. A non-travel activity is something that you did when you stayed at one location, like shopping, work, a medical appointment, or staying at home, for example.
    .col-md-3
      %p.title_1 3. What is a “change mode" activity?
      %p.content_1 Sometimes, you will use more than one form of transportation to travel between activities (for example, walking to the bus stop, or transferring from the MRT to a bus). The “change mode” activity reflects that point of change.
    .clear
    .col-md-9
      .stripes
    .clear
    .col-md-3
      %p.title_1 4. What if I have changed my mode but this activity is not reflected in my activity diary?
      %p.content_1 If you know that you have changed mode but this is not shown in your diary, please treat this as a missing activity and add a non-travel activity.
    .col-md-3
      %p.title_1 5. Why are "exclamation points" showing up on my activity?
      %p.content_1 If the times shown for the activity are inconsistent (for example, if an activity is shown as ending before it started, or if two activities overlap), the display of that activity will change to indicate the error.
    .col-md-3.alpha
      %p.title_1 6. Why are my traces so 'spiky'?
      %p.content_1 Our app uses GPS, GSM, Wi-Fi, and accelerometer data. Sometimes, when GPS data isn’t available, we will collect location data from the nearest cell towers, which give us less accurate locations. This data collection will result in ‘spiky’ traces, or straight lines between activities.
    .clear
    .col-md-9
      .stripes
    .clear
    .col-md-3
      %p.title_1 7. What if I participated in more than one activity at a certain location?
      %p.content_1 If you took part in more than one activity, first choose the activity that you would consider ‘primary’ and then choose the additional activities.
    .col-md-3
      %p.title_1 8. What do the asterisks after my start and end time on my first and last activities of the day mean?
      %p.content_1 One asterisk indicates that an activity began on the previous day, while two indicate that the activity continued into the following day.
    .col-md-3.alpha
      %p.title_1 9. What if I travel outside of London while running the app?
      %p.content_1 The app is created so that it can track travel anywhere in the world, so don’t be worried if you travel out of London.
  #cat3_content.col-md-9.faq_content{:style => "display:none"}
    .col-md-3
      %p.title_1 1. Can more than one user be on the same account?
      %p.content_1 Because the application tracks locations, if more than one person uses the same account the traces will be incorrect. Please have each household member create his or her own account.
    .col-md-3
      %p.title_1 2. Can the application be used on more than one device?
      %p.content_1 You may run the application on more than one device; however, you should only be signed in to one account at a time. If the application is tracking locations on more than one device, the location traces will be incorrect.
    .col-md-3
      %p.title_1 3. Can I run the application on my iPad?
      %p.content_1 The application will run on the iPad; however, you may find that it drains the battery fairly quickly. The app is primarily designed to be run on smartphones.
    .clear
    .col-md-9
      .stripes
    .clear
    .col-md-3
      %p.title_1 4. How long should I run the app?
      %p.content_1 The app may be run at all times for maximum data collection; however, should you wish to discontinue use of the application due to battery concerns, because you are not currently moving, because you do not wish to record certain traces, or for any other reason, you may log out of the app from the “logout” option.
    .col-md-3
      %p.title_1 5. Do I have to have a data plan to run the app?
      %p.content_1 You do not need to have a data plan to run the app. Under the app’s Settings Data Sync preferences, you may set the app to sync collected data using a mobile data plan only, Wi-Fi only, or both the Wi-Fi and mobile data plan. If you do not have a data plan, you may set the sync to “Wi-Fi only”.
    .col-md-3
      %p.title_1 6. Why did my iPhone sign me out of the FMS app?
      %p.content_1 We respect your battery needs, thus if your phone drops to 20% battery, the FMS app will automatically sign out. If this occurs, please sign back in when you have re-charged your battery.
    .clear
    .col-md-9
      .stripes
    .clear
    .col-md-3.alpha
      %p.title_1 7. How much of my data plan will the application use?
      %p.content_1 While the amount of data uploaded will vary depending on your phone model and travel patterns, on average, the daily data usage is about 4 - 8M. For 14 days of participation, the total will be about 56 - 112M.
/ /row
/
  <div class="grid_9 faq_content" id="cat4_content" style="display:none">
  <div class="grid_3 alpha">
  <p class="title_1">1. Activity Diary Guidebook </p>
  <p class="content_1">Sometimes, filling out the activity diary might be tricky. Should you need some help, please refer to <span class="class1"><haml_silent></haml_silent></span></p>
  </div>
  
  <div class="clear"></div>
  <div class="grid_9">
  <div class="stripes"></div>
  </div>
  <div class="clear"></div>
  
  <div class="grid_6">
  <p class="title_1"> 3. Video Guide</p>
  <p class="content_1">If you would like to see a short video on using the activity diary, you may do so here.</p>
  <iframe src="https://player.vimeo.com/video/53845496?title=0&amp;byline=0&amp;portrait=0&amp;color=A01D21" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  
  </div>
:javascript
  curr_id = "cat1";

  jQuery('a').click(function(){
  	clicked_id = this.id;
  	if (clicked_id.indexOf("cat") != -1 && clicked_id != curr_id){
  		//remove current class
  		jQuery('#'+curr_id).removeClass('current');

  		//fade out + fade in
  		jQuery('#'+curr_id+'_content').fadeOut('slow', function(){
  			jQuery('#'+clicked_id+'_content').fadeIn('slow');
  			curr_id = clicked_id;
  		});

  		//add class to current
  		jQuery('#'+clicked_id).addClass('current');
  	}
  });
