= javascript_include_tag 'maas/new_home'
= form_tag(pages_survey_url, method: :post, id: "begin_survey") do
  .row{:style => "margin-top: 10px;"}
    #home_page.col-xs-offset-1.col-xs-10.well.text-justify
      %h4.text-center
        %b This survey is part of the research project HARMONY
      %h4
      %p The survey is about within-day travel re-evaluation. In the presence of live information (e.g. smartphones, radio), we often adapt our habitual schedule to account for delays within the network, as a result of disruptive events (congestion, roadworks, weather conditions etc.). We conduct this survey to understand your re-evaluation preferences and how past experience affects your long-term perceptions on future travel times.
      %p It will take about 15 minutes to complete this questionnaire survey.
      %p We really appreciate your participation and your honest responses.
      %p
        Before you start the survey please read
        %ul
          %li the information sheet (the objective of the survey and how your data will be used), and
          %li the consent form for participation in the survey.
      %p
        = label_tag :consent_label, class: 'pull-right' do
          = check_box_tag :consent_check_box
          %strong
            I consent to participate in the survey
      %p
        %i
          Your data is protected following the EU legislation on personal data privacy and protection. Your data is anonymised and will be used only for the purposes of this project. Please read the
          %a{:href => "/docs/policy.pdf"}
            %u Privacy Policy
          and
          %a{:href => "/docs/faq_maas.pdf"}
            %u FAQ
          for more information.
      - if @city_id == City::OXFORDSHIRE
        = hidden_field_tag "rn_flag", 1
        = hidden_field_tag "rn_id", @rn_id
        = hidden_field_tag "rn_study", @rn_study
      - if @city_id == City::TURIN
        %h5.row.text-center
          %span.col-md-6 Select the language for your survey
          %span.col-md-3
            = select_tag "lux_language", options_for_select(@lux_language_options), class: "form-control"
      %h3
        = hidden_field_tag "city_id", @city
        = button_tag type: 'submit', disabled: true, class: 'btn-lg btn-warning pull-right' do
          Start the survey
/ end of form
.stripes{:style => "margin-top: 10px;"}
:css
  #home_page * {
    font-family: Helvetica;
    font-size: 16px;
  }

  #home_page .title_1 {
    font-family: Helvetica;
  }

  label {
    font-weight: normal;
  }
